<title><%= pageTitle %> | <%= config.application.name %> <%= config.application.env %></title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

<meta name="description" content="A website about Glenn de Haan">
<meta name="author" content="Glenn de Haan">

<meta property="og:title" content="<%= config.application.name %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="<%= baseUrl %>"/>
<meta property="og:description" content="A website about Glenn de Haan"/>

<link rel="alternate" href="<%= baseUrl %>" hreflang="en" />
<link rel="canonical" href="<%= baseUrl %>" />
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "<%= config.application.name %>",
        "url": "<%= baseUrl %>"
    }
</script>

<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" href="/images/favicon.ico">

<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#F03A00">

<link rel="stylesheet" type="text/css" href="/dist/main.css" />
